html {   
  height: 100%; 
  background: #333;
  font-size: 62.5%;
}

body {
  min-height: 100%;
  margin: 0;
  display: grid;
  place-items: center;
}

.media-gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin: 1rem auto;
  max-width: 80vmin;
}

.media-post {
  display: block;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  margin: 0;
  background: #FFF;
  
  img { border-radius: .5rem; display: block; }
  figcaption { margin: 1rem 1rem 0; }
  h2 { font-size: 1.6rem; line-height: 1; }
  em { font-size: 1rem; }
}
